/* Sticky footer styles
-------------------------------------------------- 
http://twitter.github.com/bootstrap/examples/sticky-footer.html
*/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  overflow-x: hidden; /* removes horizontal scrollbar */
  font-family: 'Open Sans', Arial, serif; font-weight:400; 
  padding-right: 0px; /* get rid of gutters in phone view */
  padding-left: 0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -30px;
  background: url(../images/gplaypattern.png) repeat 0 0;
}

/* Set the fixed height of the footer here */
/*#push, */
#footer {
  height: 30px;
  background-color: #232323;
}

#push {
  height: 30px;
}

.muted {
  margin: 5px 0;
}

.contact {
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 5px;
  float: right;
}

/*
to add a small left margin in phone view
*/
.container {
  padding-left: 10px;
  padding-right: 10px;
}


.span4 {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
}

page-header,.page-header,#page-header{
  background: #232323;

  color: black;
  margin: 0px; 
}

a {
  /* color: #5ca50a; */
  color: #008D11;
  text-decoration: none;
}

svg:hover #github {
  fill: #111111;
}

h1 {
  /*font-family: josefin-slab, serif;*/
  margin: 5px;
}

h4 {
  margin: 5px;
}

#phone {
  transition: 0s;
}

img:hover #github {
  fill: "#005580";
}
