.nav-item {
    text-align: right;
}

.bg-primary {
    background-color: #198754 !important;
}
a {
    color: #198754;
}

/** Remove list item color changing on hover/click **/
.list-group-item-action:active,
.list-group-item-action:focus,
.list-group-item-action:hover {
  color: unset !important;
  background-color: unset !important;
}